.card {
    width: 300px;
    min-width: 300px;
    background: transparent;
    box-shadow: 0px 0px 2px black;
    height: fit-content;
    margin: 10px;
    padding: 10px;
}

.card_title {
    font-size: 24px;
    height: 6vh;
    overflow: hidden;
    word-wrap: break-word;
}

.card_content {
    font-size: 18px;
    word-wrap: break-word;
}

.card_delete {
    display: flex;
    justify-content: end;
}

.card_delete>img {
    height: 22px;
    cursor: pointer;
    margin-top: 14px;
}

@media screen and (max-width:500px) {
    .card {
        width: 80%;
    }
}